<!------------------------ Menu Slider ------------------------>
<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
         
		 <li class="topcoat-list__item2"  style="height:88px">
		    <a href="#/profile">
			<img  id="personal-image" src="student_modules/resources/img/0003.png" />
				<div id="personal">Hayden Sookchand<br>Electronic Eng</div>
			</a>
		 </li>   
		
		<li class="topcoat-list__item2">
		    <img src="student_modules/resources/img/home.png" />
			<a href="#/main">Home</a>
		</li>		  
		
		<li class="topcoat-list__item2" >
		    <img  src="student_modules/resources/img/gmap.png" />
			<a href="#/reports">Reports</a>
		</li>
        
		<li class="topcoat-list__item2" >
		    <img src="student_modules/resources/img/settings.png" />
			<a href="#/settings">Settings</a>
		</li>
		
		<li class="topcoat-list__item2" >
		    <img src="student_modules/resources/img/settings.png" />
			<a href="#/files">Files</a>
		</li>	

		<li class="topcoat-list__item2" >
	
	    <img src="student_modules/resources/img/settings.png" />
			<a href="#/lecturerlist">Lecturers</a>
		</li>
		
		<li class="topcoat-list__item2" ng-click="reload()">
		   <img src="student_modules/resources/img/refresh.png" />
			Refresh
		</li>	
		
		<li class="topcoat-list__item2">
		   <img src="student_modules/resources/img/refresh.png" />
			<a href="#/about">About</a>
		</li>
		
		 <li class="topcoat-list__item2" style="height:15px">
		   <img src="student_modules/resources/img/logout.png" />
		   <a href="#/">Logout</a>
		 </li>
		 
        </ul>
    </div>
</div>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           <h1 class="topcoat-navigation-bar__title" ng-click="$spMenu.toggle()">
		   <img id="hamburger-menu" src="student_modules/resources/img/list.png" ></img>
		   </h1>  
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <a href="#main"><h1 class="topcoat-navigation-bar__title">
			<img id="topbar-logo" src="student_modules/resources/img/nb_logo.png" ></img>
			</h1></a>
        </div>
		
		  <div class="topcoat-navigation-bar__item right quarter">
             
        </div>
		
    </div>
  <!------------------------ Main Content------------------------>  	
  <div class="content">
		<ul class="topcoat-list"  style="background-color:#dfe2e2" >
		 
		 	 <li class="topcoat-list__item2" id="personal_window" style="height:260px;">
			<div id="personal_outer">
			<center>
			<img style="width:290px;height:220px;"src="student_modules/resources/img/login-blue.jpg" />
		    </center>

			<p><center>V 0.0.1</center></p>
			</div>
		 </li>  
		 
		<li class="topcoat-list__item2" style="color:black" class="home">
			Contact Us
		</li>
		
		<li class="topcoat-list__item2"  style="color:black"  class="home">
			FAQ
		</li>
		
	
		</ul>
	</div>
</div>

</div>