
 <!------------------------ Main Content------------------------>   	
    <div class="content">
	<center>
		<div id="loginlogo">
			<img style="height: 160px;" src="resources/img/NBappIcon.jpg" ></img>
		</div>
	</center>
		
	<div id="login">
		<input placeholder="Student Number" id="studentno" type="text" name="user">
		<input placeholder="Password" id="password" type="password" name="pass">
		<input type="button" id="submitlogin" name="client_login" ng-click="studentApplogin()" value="Log in"  />
	</div>
	

	<div id="Help">
		<a href="http://www.dutnoticeboard.co.za/docs">Help Center</a>
	</div>
		
	</div>


	
