<!------------------------ Menu Slider ------------------------>
<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
         
		 <li class="topcoat-list__item2"  style="height:88px">
		    <a href="#/profile">
			<img  id="personal-image" src="student_modules/resources/img/0003.png" />
				<div id="personal">Hayden Sookchand<br>Electronic Eng</div>
			</a>
		 </li>   
		
		<li class="topcoat-list__item2">
		    <img src="student_modules/resources/img/home.png" />
			<a href="#/main">Home</a>
		</li>		  
		
		<li class="topcoat-list__item2" >
		    <img  src="student_modules/resources/img/gmap.png" />
			<a href="#/reports">Reports</a>
		</li>
        
		<li class="topcoat-list__item2" >
		    <img src="student_modules/resources/img/settings.png" />
			<a href="#/settings">Settings</a>
		</li>
		
		<li class="topcoat-list__item2" ng-click="reload()">
		   <img src="student_modules/resources/img/refresh.png" />
			Refresh
		</li>	
		
		 <li class="topcoat-list__item2" style="height:15px">
		   <img src="student_modules/resources/img/logout.png" />
		   <a href="#/">Logout</a>
		 </li>
		 
        </ul>
    </div>
</div>
<div id="sp-page">
<!------------------------ Main Page Top Bar ------------------------>
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
           <h1 class="topcoat-navigation-bar__title" ng-click="$spMenu.toggle()">
		   <img id="hamburger-menu" src="student_modules/resources/img/list.png" ></img>
		   </h1>  
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <a href="#main"><h1 class="topcoat-navigation-bar__title">
			<img id="topbar-logo" src="student_modules/resources/img/NB_logo.png" ></img>
			</h1></a>
        </div>
		
		  <div class="topcoat-navigation-bar__item right quarter">
             
        </div>
		
    </div>
  <!------------------------ Main Content------------------------>  	
    <div class="content">
	<div id ="outer" style="padding:10px;background-color:#F0F0F0;">
	
		<br>Account Settings
	    <br><br>
	    <ul class="topcoat-list__container">
				<li class="topcoat-list__item" style="background-color: #FFFFFF;">
					<img style="float:left; width:42px; height:45px; margin-right:10px;border-radius: 20px 20px 20px 20px;"class="movieimg" src="student_modules/resources/img/0003.png" />
					<strong style="font-size:17px;margin-left: 13px;">Hayden Sookchand</strong>
				</li>
				
				<li class="topcoat-list__item" style="background-color: #FFFFFF;">
					<strong style="font-size:17px;margin-left: 13px;">Share Application</strong>
				</li>
	    </ul>
	
	
		<br>Push Settings
	    <br><br>
		<ul class="topcoat-list__container">
				<li class="topcoat-list__item" style="background-color: #FFFFFF;">
					<strong style="font-size:17px;margin-left: 13px;">Allow Push Notifications</strong>
				</li>
	    </ul>
		
	   <br>Follow Lecturere
	   <br><br>
		<ul class="topcoat-list__container">
				<li class="topcoat-list__item" style="background-color: #FFFFFF;">
					<strong style="font-size:17px;margin-left: 13px;">Choose Lecturers</strong>
				</li>
	    </ul>
 
		</div>
	</div>
</div>