#main_lecturer-image{
  float:left;
  width:60px; 
  height:60px;
  margin-right:10px;
  border-radius: 50px;
  margin-top: 4px;
}

#main_lecturer-name{
  font-size:13px;
  margin-left: 4px;
  margin-top: -10px;
}

#main_notice{
  font-size:11px;
  margin-top: -11px;
  margin-left: 78px;
}

#main_list_background{
  background-color: #FFFFFF;
  height: 54px;
}

.main_outer{
  padding:10px;
  background-color:#F0F0F0;
}

.arrow-right {
	margin-left:74px;
	margin-top:10px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-left:5px solid #0099CB; 
}

#no_cxn{
  background-color: #3D3D3E;
  padding: 4px;
  color:white;
}